name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
# TODO: do not publish on pull request!

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 14
        java-package: jdk
        architecture: x64
    - name: Cache Dependencies
      uses: actions/cache@v1.2.0
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Build with Gradle
      run: gradle build
    - name: Display structure
      run: ls geocoding-client-model/build
    - name: Upload artifact to share it between jobs
      uses: actions/upload-artifact@v2
      with:
        name: geocoding-client-model-jar
        path: geocoding-client-model/build/libs/*.jar
  publish:
    needs: [build]
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Download artifact from previous job
      uses: actions/download-artifact@v2
      with:
        name: geocoding-client-model-jar
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 14
        java-package: jdk
        architecture: x64
    - name: Publish to GitHub Packages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        NEW_VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
        echo "New version: ${NEW_VERSION}"
        echo "Github username: ${GITHUB_ACTOR}"
        gradle publish
      # The GITHUB_REF tag comes in the format 'refs/tags/xxx'.
      # If we split on '/' and take the 3rd value,
      # we can get the release name.
