name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 14
        java-package: jdk
        architecture: x64
    - name: Build with Gradle
      run: gradle build
    - name: Publish to GitHub Packages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        NEW_VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
        echo "New version: ${NEW_VERSION}"
        echo "Github username: ${GITHUB_ACTOR}"
        ./gradlew -Pversion=${NEW_VERSION} publish
      # The GITHUB_REF tag comes in the format 'refs/tags/xxx'.
      # If we split on '/' and take the 3rd value,
      # we can get the release name.
